<div class="container">
	
	<div class="m-t-20">
		<button type="button" class="btn btn-success" routerLink="/add-blog">Add Blog</button>
	</div>

	<!-- loader here -->
	<div class="loader text-center" *ngIf="loader == true"></div>

	<!-- if no blogs -->
	<div class="row m-t-20 text-center" *ngIf="blogs == null">

		<h4>
			No Blogs Available.
		</h4>
		
	</div>

	<div class="row m-t-20">

		<!-- Show the blogs -->
		<div class="col-sm-6 col-md-6 col-12 col-xs-12" *ngFor="let blog of blogs">
			
			<div class="card card-shadow" style="max-width: 540px; margin-bottom: 40px; height: 230px;">
				<div class="row no-gutters">
					<div class="col-md-4 col-5 col-xs-5">
						<img src="./assets/images/blog.jpg" class="card-img blog-image img-responsive" alt="..." />
						<p class="card-text" style="margin-left: 10px;">
							<small class="text-muted">
								{{ blog.username ? blog.username : 'Akshay' }}
							</small>
						</p>
					</div>
					<div class="col-md-8 col-7 col-xs-7">
						<div class="card-body">
							<h5 class="card-title">{{ blog.title }}</h5>
							<p class="card-text xs-font-content">
								<span [innerHtml]="blog.content | slice:0:245"></span>
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
