<div class="container">
	<div class="row">

		<div class="add-modal-dialog modal-login">
			
			<div class="modal-content m-t-60">
				<div class="modal-header">
					<h3 class="modal-title">Add Blog</h3>
				</div>

				<div class="modal-body">

					<form [formGroup]="createBlogForm" (ngSubmit)="createBlog();" ngNativeValidate  style="margin-bottom: 20px;">

						<div class="form-group">
							<label for="Variantimg">Title</label>
							<input type="text" name="title" class="form-control" formControlName="title" placeholder="Title" id="varianttype" required>

							<!-- <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="blog_data.title"  #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" required>


							<div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
								<div *ngIf="title.errors.required">Title is required</div>
							</div> -->

						</div>

						<div class="form-group">
							<label for="Variantimg">Content</label>

							<ckeditor [editor]="Editor" name="content" formControlName="content" data="<p>Hello, world!</p>" id="descId"></ckeditor>
							<p style="color: red; font-size: 13px;" *ngIf="show_content_error == true">
								Content Required !
							</p>

							<!-- <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="blog_data.password"  #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>

							
							<div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
								<div *ngIf="password.errors.required">Password is required</div>
							</div> -->

						</div>

						<div class="form-group">

							<button type="submit" class="btn btn-primary btn-flat" [disabled]="btnPost == true" style="float: right;">
								<span *ngIf="btnPost == true">
									<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;
								</span>Create & Post
							</button>

						</div>

						<div class="form-group alert alert-danger" role="alert" *ngIf="showError == true">
							Incorrect Credentials
						</div>	

					</form>


				</div>

			</div>

		</div>

	</div>
</div>
